@charset "utf-8";
/* CSS Document */

img {
	height: 500px;
	
}
body {
	background-color: rgb(240,230,100)
	}
p {
	width:590px;
	font-size:18px;
	background-color:rgb(240,190,250);
	padding:15px;
}
h2{
	width:590px;
	font-size:30px;
	color:green;
	padding:10px;
}
h1{
	width:590px;
	font-size:38px;
	padding:10px;
}
h3{
	width:590px;
	font-size:24px;
	padding:10px;
}
h4{
	width:590px;
	font-size:20px;
	padding:10px;
}
li{
	width:590px;
	font-size:20px;
	padding:10px;
	color:black;
}
video {
	height: 500px;
	
}